[Unit]
Description=Run Sport Link object storage backup daily

[Timer]
OnCalendar=*-*-* 04:00:00
Persistent=true
RandomizedDelaySec=10m
Unit=sportlink-object-storage-backup.service

[Install]
WantedBy=timers.target
