@font-face {
	font-display: swap;
	font-family: 'Play';
	font-style: normal;
	font-weight: 400;
	src: url('/assets/fonts/Play-Regular.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Play';
	font-style: normal;
	font-weight: 800;
	src: url('/assets/fonts/Play-Bold.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Platypi';
	font-style: normal;
	font-weight: 400;
	src: url('/assets/fonts/Platypi-Regular.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Platypi';
	font-style: normal;
	font-weight: 500;
	src: url('/assets/fonts/Platypi-Medium.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	src: url('/assets/fonts/Poppins-Medium.woff2') format('woff2');
}
